*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

#h1{
	background:url("../img/pic-17.jpg") ;
	background-size:cover;
	background-repeat:no-repeat;
    width:100%;
	height:600px;
	background-position:center;
	
}
#h2{
	background:url("../img/pic-13.jpg") ;
	background-size:cover;
	background-repeat:no-repeat;
    width:100%;
	height:600px;
	background-position:center;
}
#h3{
	background:url("../img/pic-1.jpg") ;
	background-size:cover;
	background-repeat:no-repeat;
    width:100%;
	height:650px;
	background-position:center;
}
/* navigation bar */


#nav-bar .container img{
    float:left;
    margin:8px;
}
#nav-bar .container ul{
    float:right;
}
#nav-bar .container ul li{
    float:left;
    list-style-type:none;
}
#nav-bar .container a{
    text-decoration:none;
    color:white;
	font-family:arial black;
	font-size:16px;
}
#nav-bar .container ul li a{
    display:block;
    padding:16px;
    margin:12px;
	margin-right:15px;
	margin-bottom:2px;
}
#nav-bar .container ul li a:hover{
    background-color:white;
    color:black;
    border-radius:36px;
	
}
.container ul ul {
	display :none;
	position:absolute;
	 
}
 
.container ul li:hover > ul{
	display:block;
}
/*--------------------------------------------------------------------------------------------------*/
#heading{
	text-align:center;
	padding-top:360px;
	color:white;
	font-family:Linotte;
	font-size:50px;
}
/*--------------------------------------------------------------------------------------------------*/ 
           /* projectcss */
 

.head{
	margin-top:25px;
	margin-bottom:15px;
	margin-left:200px;
	font-family:Arial;
	font-size:35px;
	
}
 
.pic{
	margin-top:5px;
	margin-bottom:15px;
	margin-left:300px;
	
}

.place p{
	margin-left:150px;
	margin-right:150px;
	font-family:Helvetica;
	font-size:17px;
} 

.link{
	text-decoration:none;
	color:black;
	 
}
.link:hover{
	font-size:45;
	font-family:arial black;
	color:blue;
}

.place img{
	border: 4px solid black;
}
   /*  about_us */
#sec-1{
	margin:70px 30px;
}


.student-1{
	grid-area:pic-1;
	border:3px solid black;
 	width:231px;
	height:231px;
}
.student-2{
	grid-area:pic-2;
	border:3px solid black;
	width:231px;
	height:231px;
}
.student-3{
	grid-area:pic-3;
	border:3px solid black;
	width:231px;
	height:231px;
}
.student-4{
	grid-area:pic-4;
	border:3px solid black;
	width:231px;
	height:231px;
}

.grid-container {
  display: grid;
  grid-template-areas:
         'pic-1 pic-2 pic-3 pic-4 ';
  margin-left:100px;
  
}
.grid-container p{
	background-color:black;
	color:white;
	font-family:arial black;
	text-align:center;
	font-size:16px;
	 
}

.notes p {
	margin-bottom:30px;
	font-family:arial black;
	
}
    /* Quiz */
#sec-2{
	margin:40px;
}
#Question{
	font-family:arial black;
	font-size:15px;
	border: 4px solid black;
	padding:50px;
	margin-left:130px;
	margin-right:130px;
	margin-bottom:30px;
	
}
#Question_1{
	margin-bottom:15px;
}
#Question_1 input {
	margin-left:33px;
	margin-bottom:2px;
	margin-top:6px;
}
#Question_2{
	margin-bottom:15px;
}
#Question_2 input {
	margin-left:33px;
	margin-bottom:2px;
	margin-top:6px;
}
#Question_3{
	margin-bottom:15px;
}
#Question_3 input {
	margin-left:33px;
	margin-bottom:2px;
	margin-top:6px;
}
#Question_4{
	margin-bottom:15px;
}
#Question_4 input {
	margin-left:33px;
	margin-bottom:2px;
	margin-top:6px;
}
#Question_5{
	margin-bottom:15px;
}
#Question_5 input {
	margin-left:33px;
	margin-bottom:2px;
	margin-top:6px;
}
#Question_6{
	margin-bottom:15px;
}
#Question_6 input {
	margin-left:33px;
	margin-bottom:2px;
	margin-top:6px;
}
#Question_7{
	margin-bottom:15px;
}
#Question_7 input {
	margin-left:33px;
	margin-bottom:2px;
	margin-top:6px;
}
#Question_8{
	margin-bottom:15px;
}
#Question_8 input {
	margin-left:33px;
	margin-bottom:2px;
	margin-top:6px;
}
#Question_9{
	margin-bottom:15px;
}
#Question_9 input {
	margin-left:33px;
	margin-bottom:2px;
	margin-top:6px;
}
#Question_10{
	margin-bottom:15px;
}
#Question_10 input {
	margin-left:38px;
	margin-bottom:2px;
	margin-top:6px;
}
#submit{
	margin-left:580px;
	text-align: center;
	font-family:arial black;
	font-size:22px;
	padding:25px;
	background-color:#00ccff;
	border-radius:39px;
	border: none;
	text-decoration: none;
}
#submit:hover{
	background-color:#0033cc;
	color:white;
}
.Answers{
	font-family:arial black;
	font-size:22px;
	margin:30px;
    text-align:center
	
}
#score{
	margin-top:50px;
	color:white;
	font-size:30px;
	margin-bottom:20px;
}
#partA{
	margin:25px;
	margin-bottom:60px;
	 
}
#partA p{
	font-family:arial black;
	font-size:35px;
	margin-bottom:20px;
	
}
#instructions{
	font-family:arial;
	font-size:16px;
	border:2px solid black;
	padding:35px; 
	list-style-position: inside;
	font-weight: bold;
}
#instructions h1 {
	text-align:center;
	margin-bottom:10px;
}
#instructions span {
	margin-left:24px;
}
#instructions ul ol {
	margin-left:80px;
	font-size:14px;
}
/*----------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/
  #page-footer{
    width:100%;
    padding:25px;
    margin-top:20px;
    background-color: black;
    border-top:1px solid black;
	font-family:arial black;
	 
}
#page-footer .links-container{
    display: grid;
    column-gap:20px;
    grid-template-columns: auto auto auto;
    padding:10px;
	 
}
#page-footer .links-container .group-links .links-heading,.links{
    text-align: center;
    color: black;
    text-decoration: none;
    display:block;
	color:white;
}
#page-footer .links-container .group-links .links-heading{
    font-size:20px;
    margin:5px 2px ;
}
#page-footer .links-container .group-links .links{
    font-size: 14px;
    margin:3px 2px;
}
#page-footer .links-container .group-links .links:hover{
    text-decoration: underline;
}
#page-footer .author h4{
    color:black;
    text-align: center;
    margin-top:20px;
}	
